<html>

<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8" />
	<title>비밀번호 찾기</title>
	<link href="/assets/css/register.css" rel="stylesheet">

</head>

<body>
	<div class="register-container">
		<img src="/images/logo.png" alt="" width="250" height="50" />
		<div class="register-header">
			<span class="separator"></span>
			<h5>비밀번호 찾기</h5>
			<span class="separator"></span>
		</div>
		<form th:action="@{/main/find-password}" method="post">
			<div class="form-group">
				<input type="email" id="email" name="email" placeholder="가입하신 이메일로 인증합니다." class="form-control"><br />
				<div th:if="${emailExistError}" th:text="${emailExistError}" class="password-error"></div>
				<div id="emailSendSuccess" style="display:none;" class="password-error">가입하신 이메일로 임시 비밀번호를 전송합니다.</div>
			</div>
			<div>
				<button type="button" class="authentication-btn" id="sendEmailButton" onclick="sendEmail()">임시 비밀번호 전송</button>
			</div>

				<form th:action="@{/main/login}">
					<button type="submit" class="authentication-btn" >로그인 하러가기</button>
				</form>

		</form>
	</div>
	<script>
		function sendEmail() {
			var email = document.getElementById("email").value;

			fetch('/main/find-password/mailSend', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: new URLSearchParams({
					'mail': email
				})
			})
				.then(response => response.json())
				.then(data => {
					if (data.success) {
						document.getElementById("emailSendSuccess").style.display = 'block';
					} else {
						alert('이메일 전송에 실패했습니다: ');
					}
				});
		}
	</script>
</body>

</html>